<header>
	<span>04</span>
	<h3>ML/DL, Data Analysis & Statistics</h3>
</header>
				
<div class="icon-grid">
	<div class="tech-icon">
		<img src="assets/techs/scikit_learn.svg" alt="SciKit Learn">
		<b>SciKit Learn</b>
	</div>
	
	<div class="tech-icon">
		<img src="assets/techs/keras.svg" alt="Keras">
		<b>Keras</b>
	</div>
	
	<div class="tech-icon">
		<img src="assets/techs/seaborn.svg" alt="Seaborn">
		<b>Seaborn</b>
	</div>
	
	<div class="tech-icon">
		<img src="assets/techs/matplotlib.svg" alt="Matplotlib">
		<b>MatPlotLib</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=r" alt="R Language">
		<b>R Language</b>
	</div>
</div>