<header>
	<span>05</span>
	<h3>Data & Cloud</h3>
</header>

<div class="icon-grid">
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=postgres" alt="PostgreSQL">
		<b>Postgres</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=mysql" alt="MySQL">
		<b>MySQL</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=sqlite" alt="SQLite">
		<b>SQLite</b>
	</div>
	
	<div class="tech-icon">
		<img src="assets/influxdb.svg" alt="InfluxDB">
		<b>Influx DB</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=grafana" alt="Grafana">
		<b>Grafana</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=aws" alt="AWS">
		<b>AWS</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=docker" alt="Docker">
		<b>Docker</b>
	</div>
</div>