<header>
	<span>01</span>
	<h3>Programming Languages</h3>
</header>

<div class="icon-grid">
	<div class="tech-icon" data-confidence="98">
		<img src="https://skillicons.dev/icons?i=c" alt="C">
		<b>C</b>
	</div>
	
	<div class="tech-icon" data-confidence="83">
		<img src="https://skillicons.dev/icons?i=cs" alt="C#">
		<b>C#</b>
	</div>
	
	<div class="tech-icon" data-confidence="40">
		<img src="https://skillicons.dev/icons?i=cpp" alt="C++">
		<b>C++</b>
	</div>
	
	<div class="tech-icon" data-confidence="90">
		<img src="https://skillicons.dev/icons?i=java" alt="Java">
		<b>Java</b>
	</div>
	
	<div class="tech-icon" data-confidence="95">
		<img src="https://skillicons.dev/icons?i=python" alt="Python">
		<b>Python</b>
	</div>
	
	<div class="tech-icon" data-confidence="60">
		<img src="assets/techs/asm.svg" alt="ASM">
		<b>Assembly x64</b>
	</div>
	
	<div class="tech-icon" data-confidence="10">
		<img src="https://skillicons.dev/icons?i=rust" alt="Rust">
		<b>Rust</b>
	</div>
	
	<div class="tech-icon" data-confidence="28">
		<img src="https://skillicons.dev/icons?i=lua" alt="Lua">
		<b>Lua</b>
	</div>
	
	<div class="tech-icon" data-confidence="35">
		<img src="https://skillicons.dev/icons?i=arduino" alt="Arduino">
		<b>Arduino</b>
	</div>
</div>