<header>
	<span>03</span>
	<h3>Knowledge Management</h3>
</header>

<div class="icon-grid">
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=markdown" alt="Markdown">
		<b>Markdown</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=latex" alt="Latex">
		<b>LaTeX</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=obsidian" alt="Obsidian">
		<b>Obsidian</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=notion" alt="Notion">
		<b>Notion</b>
	</div>
</div>