<header>
	<span>06</span>
	<h3>Misc Skills/Technologies</h3>
</header>

<div class="icon-grid">
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=regex" alt="Regular Expressions">
		<b>Regular Expressions</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=linux" alt="Linux">
		<b>Linux</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=debian" alt="Debian">
		<b>Debian</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=bash" alt="Bash Scripting">
		<b>Bash Scripting</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=vim" alt="Vim">
		<b>Vim</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=git" alt="Git">
		<b>Git</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=idea" alt="Intellij IDEA">
		<b>Intellij IDEA</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=pycharm" alt="Intellij PyCharm">
		<b>Intellij PyCharm</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=rider" alt="Intellij Rider">
		<b>Intellij Rider</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=eclipse" alt="Eclipse">
		<b>Eclipse</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=dotnet" alt=".NET">
		<b>.NET</b>
	</div>
	
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=threejs" alt="ThreeJS">
		<b>ThreeJS</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=raspberrypi" alt="Raspberry Pi">
		<b>Raspberry Pi</b>
	</div>
	
	<div class="tech-icon">
		<img src="/assets/techs/py_firmata.svg" alt="PyFirmata">
		<b>pyFirmata</b>
	</div>
</div>