<header>
	<span>02</span>
	<h3>Web Related</h3>
</header>

<div class="icon-grid">
	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=html" alt="HTML">
		<b>HTML</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=css" alt="CSS">
		<b>CSS</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=php" alt="PHP">
		<b>PHP</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=js" alt="JavaScript">
		<b>JavaScript</b>
	</div>

	<div class="tech-icon">
		<img src="https://skillicons.dev/icons?i=nodejs" alt="Node.JS">
		<b>Node.JS</b>
	</div>
</div>