<h2>Following Years</h2>

	<p>
	The following year were not easy: I was depressed, anxious about everything, and constantly afraid. I even developed suicidal thoughts and tried to end my life on more than one occasion, but every time, thank God, I was stopped either by the fear of pain or by someone unexpectedly arriving at the house (as happened once with my parents while I was in my room).
	</p>

	<p>
	But something wonderful was also happening, even though it was one of the worst periods of my life: for quite some time, I had been noticing strange and extremely frequent coincidences.
	These "coincidences" seemed prepared specifically for me, perfectly fitting the exact moment in which they occurred, and above all they reassured me that everything was planned and that I could not make a mistake. (years later I discovered <strong>Psalm 139:16</strong>)
	</p>

	<p>
	During my adolescence, among my various "friendships", I spent time with people connected to the rave scene. There was this number, 23, that appeared very often at those parties, and one day, before October 31, 2022, I read something about it.
	I interpreted what I read as: &laquo;Nothing is left to chance; everything is in the hands of fate.&raquo;
	</p>

	<p>
	During that difficult period after the breakup, I noticed that every time I needed comfort, I would encounter the number 23 reminding me that &laquo;Nothing is left to chance&raquo; (on a clock, on a license plate, from someone saying it aloud) precisely whenever I needed reassurance. I even tried to avoid it, thinking I was going crazy or becoming obsessed with it, but every single time I truly needed it, this sign of consolation would appear.
	</p>

	<p>
	After a while, a thought came to my mind, given that I now completely believed in God and knew that Jesus was the key to everything: &laquo;Nothing is left to chance, <strong>but everything is in the hands of God</strong> (even though He gave us free will).&raquo; (read <strong>Proverbs 16:1,9</strong>).
	</p>

	<p>
	As the days passed, I increasingly saw the hand of God comforting me and telling me that everything would ultimately be okay, for the best.
	</p>

	<p>
	Sadly, however, I began smoking cannabis again, strains even stronger than before, and started reconnecting with those shady people I knew. I also stopped reading the Word, unaware of the consequences these choices would lead me to (<strong>Matthew 12:43-45</strong>). The Lord rebuked me, probably more than once, but I didn't listen.
	</p>

	<p>
	Then those people caused me many problems, especially by stealing the wages I had earned from a small work experience, and I was furious about it. Furthermore, the situation with my parents kept worsening, and alongside my inner tension there were frequent arguments, causing my anger to grow even more.
	</p>
	
	<blockquote>
	In addition to all, my university career was at a standstill: I couldn't find a company for my internship and to prepare my thesis with, as they keep me waiting in vain and then rejecting me at the end.
	</blockquote>

	<p>
	2024 was a difficult year, full of anger, tension, and discouragement. I thank God because, despite everything, He preserved the passion for computer science that He instilled in me since childhood and because he supported me every day, even when I wasn't doing the right thing.<br/> Furthermore, his infinite grace allowed me to deepen my knowledge of software engineering during those moments, filling in the gaps I had.
	</p>

	<p>
	Then, in 2025, after cutting ties with the shady people I knew, I found myself smoking only in the company of one person, now able to obtain cannabis of that quality independently. In particular, I had a "friend" (fictional name: Elon) with whom I shared the expenses.
	</p>

	<p>
	Elon and I had many things in common, and both of us were left with a sour taste from experiences with those people. He was also studying to become a software analyst/designer like me and we had known each other since childhood, but we had never truly spent time together until we found ourselves among those people.
	</p>