<h2>Who I was</h2>
	<p>
		Hi, I'm Filippo Mecozzi, the author of the portfolio containing this life testimony. I'm a 25-year-old Italian man who, despite his deep passion for computers, programming, and dedication to studying in the IT field, following various negative events, made profoundly wrong life choices.
	</p>

	<h3>High-school</h3>
		<p>
			Particularly around the age of 15, after having already had a troubled past with my peers, I began, like many of my age group, smoking cannabis out of curiosity and was immediately hooked, so much so that it became one of my regular weekend pastimes.<br/>
			After a very short time i also started smoking cigarettes.
		</p>

		<p>
			Quickly, over the course of a few years, my friendships suddenly changed, and at a certain point I even found myself hanging out with people involved in crime and misdemeanors to get the cannabis.
		</p>

		<blockquote>
			I thought I was happy, but in reality I was <u>melancholic</u>, <u>empty</u>, sometimes <u>depressed</u>, sometimes <u>even apathic</u>, <u>and angry</u> over many of the events that happened with those people.
		</blockquote>

		<p>
			Even though I continued my studies in computer science and my passion was still there (fading and rekindling) my life was slowly falling apart.
		</p>

		<p>
			Then I graduated as an IT technician and started university not so much later.
		</p>

	<h3>God in my life</h3>
		<p>
			My relationship with God wasn't as straightforward as it might have been for others. As a child, I was a Catholic Christian who believed in Jesus and attended church at my parents' urging. But after some difficult times in middle school, I distanced myself from God, unable to explain why so much harm could happen if He loves us and if someone didn't want to be a bad/harmful person.
		</p>

		<p>
			Consequently I began to believe that Christianity was wrong, false, or incomplete. This led me to atheism for a time, then I reconsidered the existence of God but began to blaspheme and blame Him for many things (almost anything).
		</p>

		<p>
			Everything got worse and worse, and around the time I started smoking cannabis, I began to try to explain the existence of life and its purpose in many other ways. <br/>
			I became interested in other religions/theories of life: pure evolutionism, Rastafarianism, Buddhism, theories of reincarnation, and many others.
		</p>
		
		<p>
			I also became interested in the occult, probably out of a curiosity I've always had. <br/>
			Now I can thank God I never done any ritual or "game" that i remember involving the occult due to the fear, mixed to the curiosity, i always had on such things.
		</p>