<h2>When i Met God</h2>
<h3>The Egg Theory</h3>

	<p>
	After high school, I moved away to attend university, about 600 km from home. During my freshman year, when I returned home for the holidays, I met my girlfriend, and shortly afterward we got together.
	</p>

	<p>
	We spent a few years together, and throughout that time I continued to smoke and spend time with the shady people I mentioned earlier, distancing myself from them and reconnecting with them when necessary.
	</p>

	<p>
	Meanwhile, my ideas about the meaning of life and God were changing, although I don't remember exactly how (given my frequent cannabis use). Then, while still wondering why evil exists, one day I came across a short story called "The Egg" by the American writer Andy Weir.
	</p>

	<p>
	<strong>This theory <u>seemed</u> more meaningful to me than any other religion or theory</strong>. It described a universe in which every person who has ever existed is actually the same soul, reincarnated one life at a time throughout history.<br/>
	Every experience (whether good or bad) serves to grow this single consciousness until it becomes a kind of divine entity: the universe itself would therefore be the "egg" in which the soul matures.
	</p>
	
	<p>
	This felt like an astonishing revelation to me, and I had finally found a "counterbalance" to evil (and also a reward for goodness), since &mdash; <i>every time you victimized someone... you were victimizing yourself</i> &mdash; and likewise &mdash; <i>every act of kindness you’ve done, you’ve done to yourself</i> &mdash; to quote the story.
	</p>
	
	<p>
	However, I still wasn't completely satisfied, because at that point <strong>I wanted to understand the order of reincarnated lives.</strong>
	It was 2022, and I started searching for a set of factors (e.g. honesty, morality, intelligence, a combination of both, tolerance of hostility, etc.) that could define a sort of hierarchy among every existing life.<br/>
	Sadly, every set of factors turned out to be incomplete.
	</p>

<h3>Towards Meeting God</h3>
	
	<p>
	Around September/October 2022, my relationship with my girlfriend began to fall apart.
	</p>
	
	<p>
	It was a very difficult time for me because we were stuck in an uncertain stage of the relationship (the kind of situation I never liked), and we were close to breaking up.
	</p>
	
	<p>
	At the same time, after months spent testing many possible factors to define the order of reincarnated lives, I began focusing on identifying the extremes. Just like in the analysis of a mathematical function, one of the first steps in understanding its overall behavior is identifying its extreme and discontinuity points.<br/>
	</p>
	
	<p>
	So I tried to identify the factors <strong>that would define the first life: the one furthest from God</strong>, but I was unsuccessful.<br/>
	Then I tried to identify <strong>the last life, the one closest to God</strong>, and this led me to reflect on the characteristics this final life should have:
	</p>
	<ul>
		<li>Since this life is the closest to God, and a "Supreme God" (the "Almighty") possesses <strong>infinite</strong> power, this means that this final life <strong>should possess infinite power as well</strong> (because it's like asking, "What is the smallest number close to infinity?" and the answer is still infinity).</li>
		<li>Since this final life is also a human life, it <strong>must also be 100% human</strong> (alongside God's omnipotence).</li>
	</ul>
	<p>
	Shortly afterward, I was shocked by what came to my mind when I thought back to the man who discovers the truth in "The Egg":
		&laquo;<i>"I'm Abraham Lincoln..." &mdash;
			And God: "Yes, and you're John Wilkes Booth too..." &mdash;
			</i>
			and later the man continues:
			<i>
			"I'm <strong>Jesus</strong>."</i>&raquo;
	</p>
	
	<p>&laquo;<strong>JESUS!</strong>&raquo;, I thought. &laquo;<strong>He's the only man we know of with such characteristics!</strong>&raquo; &laquo;He was the answer this whole time, and I never realized it.&raquo; Consequently, I thought: &laquo;Well, if this man has a book that speaks about Him (<strong>the Bible</strong>), why not read it? Maybe He wants to tell us something important.&raquo;</p>
	
	<p>And during those days, while I was about to break up with my girlfriend, I started reading the Bible by opening it "randomly", and God was bringing me passages that talked to me like never before.</p>
	
<h3>October 31st, 2022</h3>

	<p>
	Meanwhile, I stopped smoking cannabis to please my girlfriend (since she didn't like it), and in the last days of October we arranged to meet again after some time apart.
	</p>
	
	<p>On October 31, 2022, we met at the entrance of a local club. That was my chance to reconnect with her.</p>
	
	<p>She told me it would be just the two of us, but she brought some friends with her, and that immediately felt strange. I knew something was wrong.</p>
	
	<p>
	We went inside, and after dancing together for a while, she pulled away from me and started dancing with her friends. They surrounded her and wouldn't let me get close to her, while another boy entered the circle and started dancing with her.
	</p>
	
	<p>
	I was blinded by rage and completely lost control, immediately taking it out on her. She told me I was too rigid, that I wasn't giving her any space.<br/>
	I became furious and cursed God with all my heart for allowing this to happen while I could do nothing about it. I left the club in tears, pushing through the crowd.
	I don't remember the drive home, but it was around 3:30 a.m.
	</p>
	
	<blockquote>
	I was in my bedroom, pacing back and forth around my bed, unable to stop myself, silently crying my eyes out.
	</blockquote>
	
	<p>
	At a certain point, I began to feel something strange: a <strong><u>physical</u> presence or force</strong> in my fingers &mdash; first in the distal phalanx, then in the middle phalanx, and finally in the proximal phalanx of each finger.<br/>
	I looked at my hands, unable to understand what was happening, and then I felt the same presence or force in my teeth, as if they were vibrating left and right, each tooth resonating like a crystal glass, and also in my skull.
	</p>
	
	<p>
	I was scared; I probably thought it was a panic attack, the beginning of a heart attack, or something else. Then my knees began shaking violently, and I felt as though my legs could no longer support my weight (later I discovered <strong>Psalm 6:1-3</strong>).
	</p>

	<p>
	I fell to the ground on my knees and couldn't move. I began struggling to breathe, only managing short, broken breaths. I continued feeling the same powerful presence or force as before, and my hands were almost immobilized, my mouth open, unable to do much. If I tried to stand up and pull myself back, I felt my ribs pressing into my lungs, leaving me even more breathless; if I tried to lean forward, I felt the weight pressing me even harder into the ground, unbearably.
	</p>
	
	
	<div class="article-callout">
		I couldn't scream, bang on the closet for help, or do anything else... <strong>I could only call out to God</strong>, begging Him with all my being (even without a voice: He knew my thoughts) <strong>to save me, imploring Him</strong>.
	</div>
	
	<p>
	After that, I slowly started breathing normally again and regained some calm. After going to sleep, I went to my girlfriend's house that afternoon and broke up with her.
	</p>

	<p>Below is a photo of the part of my bedroom where all of this happened. I was almost exactly where the red circle is.</p>
	<div class="image-grid">
		<figure class="image-grid-item">
			<img src="/assets/images/1st_place.jpg" alt="Descrizione immagine 1" loading="lazy">
		</figure>
	</div>